<section class="new_membership">
	<h2 class="title"> One Step away from signing up to Glasbox Membership </h2>
	<p class="gray">
	Pellentesque felis ligula, convallis consectetur facilisis mattis, accumsan eu lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis hendrerit dolor. Nulla facilisi. Aliquam bibendum dictum sem vitae aliquam. Nulla vel tincidunt erat. Donec ut nulla ante, et dapibus mi. Vivamus convallis tincidunt metus, vel ultrices velit aliquam non. Donec cursus justo eget elit luctus imperdiet.
	</p>

	<%= render :partial => 'form' %>
</section>