<section class="signup">
	<div class="signup_form hero-unit">
		<h2 class="title">Sign Up</h2>
		<p>
		Quisque est diam, feugiat non consequat eu, fermentum a elit. Aenean lectus ligula, euismod id vestibulum nec, facilisis ut leo. Proin elit risus, egestas nec fringilla quis, vehicula at dui.
		</p>
		<%= render :partial => 'form' %>
	</div>
</section>