<section class="about_page">
	<div class="row-fluid">
		<div class="span8 about_content">
			<h3 class="title"> <b>Glasbox</b> is a facility that manufactures creative opportunities
			</h3>
			<p>
			The name Glasbox implies transparency, which is an important quality in communities in general and business specifically. It also, superficially, describes our present physical space with all of the windows, but, more importantly, it opposes the idea of a "black box," which, in some circles, denotes an inscrutable subroutine, or a part of a system which is excessively esoteric. We are a community of Creatives who welcome others to join in the creative process, breaking down the "fourth wall" that separates the audience from the performance.
			</p>
		</div><!-- end span9 -->

		<div class="span1"></div>

		<div class="span3 sidebar">
			<%= render "/layouts/sidebar" %>
		</div><!-- end sidebar -->

	</div><!-- end row -->
</section>