<div class="sidebar">
	<h3 class="sidebar_header">Glasbox Newsletter</h3>
	<p class="sidebar_content">Join our newsletter and... 
		Etiam facilisis erat at turpis.</p>
	<div class="subscribe">
		<input placeholder="Email"> </input>
		<%= link_to "Subscribe", '', :class => "btn btn-primary" %>
	</div>
</div>