<section class="members_page">
  <% @members.each do |member| %>
    <div class="member_small">
      <%= link_to image_tag(member.main_image(:small)), member %>
      <p class="member_details">
        <%= link_to member.name, member %>
      </p>
    </div>
  <% end %>
</section>